<ion-view view-title="积分明细" hide-back-button="true" >
<ion-nav-buttons side="left">
    <a  class="button button-icon icon ion-ios-arrow-back" style="color: white" href="#/tab/scoredetails/edit" nav-clear ></a>
</ion-nav-buttons>
  <ion-content>
   <div class="row">
     <div class="col text-center"><button class="button button-positive button-small button-full"> 保存 </button></div>
     <div class="col text-center"><button class="button button-balanced button-small button-full"> 提交 </button></div>
     <div class="col text-center"><button class="button button-royal button-small button-full">保存并提交</button></div>
   </div>
   <div class="row">
     <div class="col text-center" id="redborder">
       <textarea rows="10">上月完成任务说明</textarea>
     </div>
   </div>
   <div class="row">
     <div class="col text-center">
       <img src="img/icon1.jpg" width="90%" />
     </div>
     <div class="col text-center">
       <img src="img/icon1.jpg" width="90%" />
     </div>
     <div class="col text-center">
       <img src="img/icon1.jpg" width="90%" />
     </div>
   </div>
  </ion-content>
</ion-view>
