<ion-view view-title="我的支部排名" hide-back-button="true">
<ion-nav-buttons side="left">
<a  class="" style="color: white" href="#/tab/party" nav-clear ><img src="img/fanhui.png" style="width:35px;height:35px;margin-top:0px;margin-right:5px;" /></a>
</ion-nav-buttons>

  <ion-content  style="background-color:#f5f5f5">
 <ion-list >
       <ion-item class="item-remove-animate item-icon-left item-icon-right"  type="item-text-wrap" >
        <i class="icon ion-chevron-left icon-accessory" ng-click="changeyear(-1);"></i>
   
        <h2 class="text-center" >{{para.YearID}}</h2>
        
        <i class="icon ion-chevron-right icon-accessory" ng-click="changeyear(1);"></i>
      </ion-item>

       <ion-item  style="margin-top:10px;" class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" href="#/tab/partyview/{{item.dyid}}" ng-repeat="item in mypaiming.Data.SortData">
        <img ng-src="{{item.dyTouxiang}}" onerror="javascript:this.src='img/user_default.png';" id="noradiusimg">
        <h2>{{item.dyName}}</h2>
        <p><span>总分：{{item.dyZongfen}}</span>&nbsp;<span>名次：{{item.sort}}</span></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
       
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
