<ion-view view-title={{para.leixing=='wode'?'我的任务列表':'支部任务列表'}} hide-back-button="true">
<ion-nav-buttons side="left">

    <a  class="" style="color: white" href="#/tab/wodejifen" nav-clear ><img src="img/fanhui.png" style="width:35px;height:35px;margin-top:0px;margin-right:5px;" /></a>
</ion-nav-buttons>
<ion-nav-buttons side="right" >
     <a  class="" style="color: white;background:none;" href="#/tab/woderenwuadd"  nav-clear ng-if="para.leixing=='wode'"><img src="img/add.png" style="width:25px;height:25px;margin-top:3px;margin-right:5px;" /></a>
</ion-nav-buttons>
  <ion-content  style="background-color:#f5f5f5">
 <ion-list >

<div>


       <ion-item class="item-remove-animate  item-icon-right"  type="item-text-wrap" ng-repeat="item in renwus.Data"  ng-href="#/tab/woderenwudetail/{{item.JFID||0}}" ng-if="para.leixing=='wode'">

        <p><span>{{item.Synopsis}}</span>
        </p>
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>

      <ion-item class="item-remove-animate  item-icon-right"  type="item-text-wrap" ng-repeat="item in renwus.Data"  ng-href="#/tab/zhiburenwudetail/{{item.id||0}}" ng-if="para.leixing=='zhibu'">


        <h2>{{item.Year}}.{{item.Month}}</h2>
        <p><span>任务名称：{{item.jfrenwu||0}}</span>

        </p>
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>

     </div>

    </ion-list>
  </ion-content>
</ion-view>
